/* 

    GENERAL

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root{
    --rougelinear: rgba(224, 43, 26, 1);
    --rougetext: #E02B1A;
    --blanc: #fff;
    --noirclair: #1E1E1E;
    --noir: #121212;
    --gris: #595959;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serif';
}

/* 

    HEADER

*/

.header{
    background-color: var(--rougelinear);
    height: 6rem;
    display: grid;
    align-items: center;
    position: relative;
}

.logo{
    color: var(--blanc);
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    padding-left: 5%;
}

.barre_categorie{
    display: none;
}

#closeBtn{
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
}

#barre_categorie_mobile{
    color: var(--blanc);
    width: 80%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: -80%;
    background-color: var(--rougelinear);
    transition: left 0.5s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Active class */
#barre_categorie_mobile.active,
#transparent.active {
    right: 0;
}

#transparent{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}

.reseaux{
    justify-content: center;
}

.sociaux{
    padding: 2% ;
}

#barre_categorie_mobile ul{
    flex-direction: column;
}

#barre_categorie_mobile ul a{
    color: var(--blanc);
    font-weight: 550;
    font-size: 23px;
}

#barre_categorie_mobile ul li{
    margin: 15px 0px;
}

.nav_container{
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
}

.row{
    display: flex;
}

.items_list{
    padding: 0 0.5rem;
    height: auto;
    display: grid;
    align-items: center;
    cursor: pointer;
}

.nav_list{
    padding-right: 3%;
}

.nav_contents{
    width: 80%;
    flex-direction: column;
    margin-top: 20%;
}

.nav_contents div{
    margin: 5% 0;
}

.btn-black{
    width: 171px;
    height: 35px;
    background-color: var(--noir);
    color: var(--blanc);
    border: 0px;
    border-radius: 20px;
    font-family: Montserrat;
    font-size: 18px;
}

.btn-clear{
    border: 1.7px solid var(--blanc);
    color: var(--blanc);
    background-color: transparent;
    width: 133px;
    height: 33px;
    border-radius: 20px;
    font-family: Montserrat;
    font-size: 18px;
}

.roww{
    display: flex;
    align-items: center;
    margin: 5% 0;
}

.opacityy{
    opacity: 63%;
}

.items p{
    margin-left: 5%;
}

/* 

    MAIN

*/

main{
    background-color: var(--noir);
    height: 90vh;
}

/* desktop = 1224px, tablette = 768px */

@media only screen and (min-width: 768px){
    .logo{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1224px){
    .barre_categorie_mobile{
        display: none;
    }

    .barre_categorie{
        display: revert;
        width: 70%;
    }
    
    .barre_categorie li{
        padding: 0% 2%;
    }
    
    .barre_categorie a{
        color: var(--blanc);
        font-weight: 600;
        font-size: 17px;
    }

    .nav_list {
        padding-right: 0;
    }
    
    .logo {
        padding-left: 0;
    }

    .row {
        justify-content: center;
    }

    #openBtn{
        display: none;
    }
}
